// common typography
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #000;

  font-size: 16px;
}

// common classes
.wrapper {
  overflow: hidden;
  min-height: 100vh;
}

.grid-container {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "header"
                       "main"
                       "footer";
  grid-template-rows: 100px auto 50px;
}

// header
.header {
  grid-area: header;
  background-color: black;

  &__container {
    height: 100%;
    max-width: 1440px;
    margin: 0 auto 0 auto;
    padding: 0 20px;
  }

  &__text {
    color: #ffffff;
    font-size: 20px;
    width: 240px;
    margin-right: 40px;
  }

  &__holder {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
  }
}

.nav {
  display: flex;
  width: 100%;
  justify-content: space-between;

  &__item {
    color: #ffffff;
    text-decoration: none;
    margin-left: 20px;
  }
  &__item-logout {
    cursor: pointer;
    background-color: #000;
    font-size: 16px;
    border: none;
    color: #ffffff;
    text-decoration: none;
  }
}

//main
.main {
  grid-area: main;
  background-color: #c8c8c8;
}

// footer
.footer {
  grid-area: footer;
  background-color: #000000;

  &__text {
    height: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
