<div class="wrapper">
  <div class="grid-container">
    <header class="header">
      <div class="header__container">
        <div class="header__holder">
          <div class="header__text">
            SHOP.CO Admin Panel
          </div>

          <nav class="header__nav nav">
            <a routerLink="/admin-panel/admins" routerLinkActive="active" class="nav__item">Admins</a>
            <a routerLink="/admin-panel/users" routerLinkActive="active" href="#" class="nav__item">Users</a>
            <a routerLink="/admin-panel/cloths" routerLinkActive="active" class="nav__item">Clothes</a>
          </nav>
        </div>
      </div>
    </header>
    <main class="main">

      <router-outlet>

      </router-outlet>

    </main>
    <footer class="footer">
      <div class="footer__text">
        Shop.co © 2025, All Rights Reserved
      </div>
    </footer>
  </div>
</div>
