<div class="nav__discount">
  <div class="container">
    Sigh up and get 20% off to your first order.&nbsp;<span>Sign Up Now</span>
  </div>
</div>

<div class="nav__holder">
  <div class="nav__container">
    <div class="nav__icon">
      <div class="nav__icon-text">SHOP.CO</div>
    </div>
    <div class="nav__list nav-list">
      <a href="#" class="nav-list__item">Shop</a>
      <a href="#" class="nav-list__item">On Sale</a>
      <a href="#" class="nav-list__item">New Arrivals</a>
      <a href="#" class="nav-list__item">Brands</a>
    </div>
    <div class="nav__search">
      <input type="text" class="nav__search-bar">
    </div>
    <div class="nav__nav-img">
      <div class="nav__hopping-cart">
        <img src="/img/shopping-cart.svg" alt="shopping-cart">
      </div>
      <div class="nav__account">
        <img src="/img/account.svg" alt="account">
      </div>
    </div>
  </div>
</div>
